### Extracting Stock Data Using a Web Scraping

In [ ]:
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
data  = requests.get(url).text
data

In [ ]:
soup = BeautifulSoup(data, 'html5lib')
soup

In [ ]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])
netflix_data

In [ ]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)    
netflix_data

In [ ]:
netflix_data.head()

In [ ]:
read_html_pandas_data = pd.read_html(url)
read_html_pandas_data

In [ ]:
read_html_pandas_data = pd.read_html(str(soup))
read_html_pandas_data

In [ ]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

### Part 2

In [13]:
url1 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
data1  = requests.get(url1).text

In [12]:
soup1 = BeautifulSoup(data1, 'html5lib')

In [14]:
tag_object=soup1.title
print("tag object:",tag_object)

tag object: <title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [17]:
read_html_pandas_data1 = pd.read_html(url1)

In [19]:
netflix_dataframe1 = read_html_pandas_data1[0]

netflix_dataframe1.head()

           Date     Open     High      Low   Close* Adj Close**     Volume
0  Jan 01, 2021  3270.00  3363.89  3086.00  3206.20     3206.20   71528900
1  Dec 01, 2020  3188.50  3350.65  3072.82  3256.93     3256.93   77556200
2  Nov 01, 2020  3061.74  3366.80  2950.12  3168.04     3168.04   90810500
3  Oct 01, 2020  3208.00  3496.24  3019.00  3036.15     3036.15  116226100
4  Sep 01, 2020  3489.58  3552.25  2871.00  3148.73     3148.73  115899300

In [20]:
netflix_dataframe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         62 non-null     object
 1   Open         62 non-null     object
 2   High         62 non-null     object
 3   Low          62 non-null     object
 4   Close*       62 non-null     object
 5   Adj Close**  62 non-null     object
 6   Volume       62 non-null     object
dtypes: object(7)
memory usage: 3.5+ KB

In [21]:
netflix_dataframe1.head(62)

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jan 01, 2021",3270.00,3363.89,3086.00,3206.20,3206.20,71528900
1,"Dec 01, 2020",3188.50,3350.65,3072.82,3256.93,3256.93,77556200
2,"Nov 01, 2020",3061.74,3366.80,2950.12,3168.04,3168.04,90810500
3,"Oct 01, 2020",3208.00,3496.24,3019.00,3036.15,3036.15,116226100
4,"Sep 01, 2020",3489.58,3552.25,2871.00,3148.73,3148.73,115899300
...,...,...,...,...,...,...,...
57,"Apr 01, 2016",590.49,669.98,585.25,659.59,659.59,78464200
58,"Mar 01, 2016",556.29,603.24,538.58,593.64,593.64,94009500
59,"Feb 01, 2016",578.15,581.80,474.00,552.52,552.52,124144800
60,"Jan 01, 2016",656.29,657.72,547.18,587.00,587.00,130200900
61,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...